In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('SampleData.csv')

In [3]:
df.head()

       Continent  Frontend  Backend
0         Africa        40       80
1         Europe        80      120
2           Asia       120       80
3  North America       100       80
4  South America       200      150

In [4]:
df = df.sort_values('Frontend')

In [5]:
print(df)

       Continent  Frontend  Backend
5      Australia        18       50
0         Africa        40       80
1         Europe        80      120
3  North America       100       80
2           Asia       120       80
4  South America       200      150

In [6]:
print(df.head(3))

   Continent  Frontend  Backend
5  Australia        18       50
0     Africa        40       80
1     Europe        80      120

In [8]:
df['Backend']

5     50
0     80
1    120
3     80
2     80
4    150
Name: Backend, dtype: int64

In [10]:
df['Frontend']+df['Backend']

5     68
0    120
1    200
3    180
2    200
4    350
dtype: int64