In [14]:
import pandas as pd

In [53]:
df = pd.read_csv('SampleData.csv')

In [54]:
df.head()

       Continent  Frontend  Backend
0         Africa        40       80
1         Europe        80      120
2           Asia       120       80
3  North America       100       80
4  South America       200      150

In [60]:
df = df.sort_values('Frontend')

In [64]:
print(df)

       Continent  Frontend  Backend
5      Australia        18       50
0         Africa        40       80
1         Europe        80      120
3  North America       100       80
2           Asia       120       80
4  South America       200      150

In [65]:
print(df.head(3))

   Continent  Frontend  Backend
5  Australia        18       50
0     Africa        40       80
1     Europe        80      120

In [3]:
import time
i = 0
while True:
    i = i +1
    print(f'颜婷婷是{i}只猪')
    time.sleep(1)

颜婷婷是1只猪
颜婷婷是2只猪
颜婷婷是3只猪
颜婷婷是4只猪
颜婷婷是5只猪
颜婷婷是6只猪
颜婷婷是7只猪
颜婷婷是8只猪
颜婷婷是9只猪
颜婷婷是10只猪
颜婷婷是11只猪
颜婷婷是12只猪
颜婷婷是13只猪
颜婷婷是14只猪
颜婷婷是15只猪
颜婷婷是16只猪
颜婷婷是17只猪
颜婷婷是18只猪
颜婷婷是19只猪
颜婷婷是20只猪
颜婷婷是21只猪

KeyboardInterrupt: